<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OverlayColorHex" value="#000000"/>
		<add key="OverlayOpacity" value="0.5"/>
		<add key="CircleRadius" value="50.0"/>
		<add key="BorderColorHex" value="#FF0000"/>
		<add key="BorderColorOpacity" value="1.0"/>
		<add key="BorderThickness" value="1.0"/>
		<add key="ZoomScaleFactor" value="1.0"/>
	</appSettings>
</configuration>
